*{
    box-sizing: border-box;
}

    body{
        background-color:#e5e5e5;
        font-family: "Encode Sans", sans-serif;
    }

    .topo{
        background-color: #ffffff;
        width: 100%;
        height: 80px;
        padding: 16px;

    }

    .icones-topo{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .color-ionicon{
        margin-top: 10px;
        font-size: 30px;
        color: black;
    }

    .sheetos{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .icones-baixo{
        background-color:#ffffff;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        padding: 16px;
    }

    ul li{
        margin-top: 10px;
        width: 100%;
        min-height: 40px;
        padding: 10px;
    }
    .message {
        background-color: #ffffff;
      }
    
    .private_message {
        background-color: #ffdede;
    }

    .status{
        background-color:#DCDCDC;
    }

    .digite-no-sheetos{
        font-family: "Roboto", sans-serif;
        border: none;
        margin-top: 10px;
        width: 600px;
        height: 30px;
    }
