*{
    box-sizing: border-box;
}

@media(max-width: 375px){
    body{
        background-color:#e5e5e5;
        font-family: "Encode Sans", sans-serif;
    }

    .topo{
        background-color: #ffffff;
        width: 100%;
        height: 80px;
        padding: 16px;

        position: fixed;
        top: 0;
        left: 0;
        z-index:1;
    }

    .icones-topo{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .color-ionicon{
        margin-top: 10px;
        font-size: 30px;
        color: black;
    }

    .sheetos{
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .icones-baixo{
        background-color:#ffffff;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        padding: 16px;

        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    .normais {
        background-color: #ffffff;
      }
    
    .privado {
        background-color: #ffdede;
    }

    .digite-no-sheetos{
        font-family: "Roboto", sans-serif;
        border: none;
    }
}